@import '../variables.scss';

.board {
  display: flex;
  flex-direction: row;

  @media (max-width: $breakpoint) {
    flex-direction: column;
  }

  &__divider {
    align-self: stretch;
    min-height: 250px;
    width: 1px;
    margin: 36px 0 8px;
    background-color: $secondary-color;

    @media (max-width: $breakpoint) {
      min-height: 1px;
      width: auto;
      margin: 36px 16px 8px;
    }
  }
}