@import '../variables.scss';

.column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 16px;
  max-width: 30%;

  @media (max-width: $breakpoint) {
    max-width: 100%;
  }

  &__title {
    margin-bottom: 16px;
    font-size: 36px;
    text-align: center;
    color: $primary-color;
  }

  &__body {
    padding: 16px 0;
    margin-top: 36px;

    &_type {
      &_with-button {
        margin-top: 0;
      }
    }
  }
}